@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poppins:wght@300;400;500&display=swap');

:root {
  --main-one: #bd8e83;
  --main-two: #749eb2;
  --main-three: #e9dac4;
  --main-four: #ac8e60;
  --border-radius-btn: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

.panel {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 0;
}

.panel__excursins {
  width: 70%;
}

.excursions {
  display: flex;
  flex-wrap: wrap;
}

.excursions__description {
  padding: 5px 0 10px 0;
}

.excursions__field {
  padding: 5px 0;
}

.excursions__field-input--submit {
  background-color: var(--main-two);
  color: #ffffff;
  border-color: transparent;
  padding: 4px 6px;
  border-radius: var(--border-radius-btn);
}

.excursions__item {
  border: 1px solid #bbb;
  border-radius: var(--border-radius-btn);
  margin: 10px;
  padding: 20px;
  width: calc(50% - 20px);
  background-color: var(--main-three);
}

.excursions__field-input {
  border-radius: var(--border-radius-btn);
  border-color: transparent;
  text-transform: uppercase;
}

.excursions__item--prototype {
  display: none;
}

.panel__form {
  background-color: var(--main-two);
  border-radius: var(--border-radius-btn);
  margin-top: 10px;
  padding: 20px;
  width: 30%;
}

.order__field-submit {
  background-color: var(--main-four);
  color: #ffffff;
  border-radius: var(--border-radius-btn);
  border-color: transparent;
  margin-top: 5px;
  padding: 4px 10px;
  text-transform: uppercase;
}

.order__field-input {
  border-radius: var(--border-radius-btn);
  border-color: transparent;
}

.order__field {
  padding: 5px 0;
}

.order__total-price {
  padding-bottom: 5px;
  font-weight: bold;
}

.uploader,
.order {
  border-bottom: 1px solid var(--main-four);
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}

.summary__item--prototype {
  display: none;
}

.summary__btn-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: red;
  color: #ffffff;
  font-size: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0 auto;
  margin-block: 5px;
  padding-bottom: 3px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .panel {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  .panel__form {
    width: 90%;
  }
  .order__field-name {
    display: flex;
    flex-direction: column;
  }
  .excursions__item {
    width: 90%;
  }
  .panel__excursions {
    justify-content: center;
  }
}
